Ejercicio 1: Transformar cadenas

Declaración de variables

In [35]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Didivir texto

In [36]:
text.split('.')

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

Busqueda de palabras clave

In [37]:
'Earth' in text

True

In [38]:
'Pluton' in text

False

In [39]:
'life' in text

True

Bucle

In [40]:
for word in text.split():
    if 'Earth' in word or 'Pluton' in word or 'life' in word:
        print(word)

Earth's
life
Earth.
Earth
Earth.

Cambiar valores

In [41]:
for item in text.split('.'):    
    print(item.replace('C', 'Celsius'))

Interesting facts about the Moon
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 Celsius

EJERCICIO 2

Declaración de datos

In [42]:
planeta = 'Marte'
gravedad  = 0.00143
nombre = 'Ganímedes'

Crear un titulo

In [43]:
title = f'datos de gravedad sobre {nombre}'

Crear una plantilla

In [44]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

Unir cadenas

In [45]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

Nuevos valores

In [46]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

Comprobar plantilla

In [47]:
print(hechos)

new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2


Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2